/* CSS Document */

* {margin:0; padding:0; list-style:none;font-family:'microsoft yahei','simsun','sans-serif',"arial";  box-sizing: border-box;  outline: none;}

body { color:#000; background:#efeeec; font-size:1rem;/* text-align:justify ; */}
.kong {height:70px;}
@media all and (min-width:800px){
body,html {width:500px; margin:0px auto;-webkit-text-size-adjust: none;}
}
input[type=button]{
	-webkit-appearance:none;
	outline:none
}
input[type="button"], input[type="submit"], input[type="reset"] {
-webkit-appearance: none;
}

textarea {  -webkit-appearance: none;}   

h1,h2,h3 { font-weight:100;}
h1 { font-size:1.5rem; line-height:2.4rem;}
.ft36 {font-size:1.22rem; line-height:2.4rem;}
.ft34 {font-size:1.154rem; line-height:1.5rem;}
.ft30 {font-size:1.1rem;}
.ft26 {font-size:1rem; line-height:1.1rem;}


@media all and (max-width:340px){
body { font-size:0.9rem;}
h1 { font-size:1.4rem; line-height:2.2rem;}
.ft36 {font-size:1.18rem; line-height:2.2rem;}
.ft34 {font-size:1.1rem; line-height:1.5rem;}
.ft30 {font-size:1rem;}
.ft26 {font-size:0.9rem; line-height:1rem;}
}

.mb4 {margin-bottom:4%;}
section {clear:both;}
a {text-decoration:none; color:#000;}
a img {border:0;}
.clear {clear:both; height:0; padding:0; margin:0; font-size:0;}
.fl {float:left;}
.fr {float:right;}
.c_666{color:#666;}

.main {background:#fff; border-top:1px solid #f1d9d2;border-bottom:1px solid #f1d9d2; padding:4% 0 4% 3%; margin-bottom:3%;}
.main2 {background:#fff; border-bottom:1px solid #f1d9d2; padding:4% 0 0 3%; margin-bottom:4%;}


/*底部导航*/
footer {height:60px; width:100%; background:#252429; z-index:999; position:fixed; display:block; bottom:0; left:0;}
footer a { display:block; float:left; width:20%; height:46px; margin-top:2px; text-align:center;}
footer a img {height:46px; display:block; margin:5px auto 0;}
footer a i {display:none; font-style:normal;}
footer .hover i {display:block;}
footer .hover em {display:none;}


@media all and (max-width:340px){
footer {height:50px; }
footer a {  height:40px; margin:0;}
footer a img {height:40px;}
}

.banner { display:none;}
.banner_molie b { display: block; z-index:9999; width:10%; position:absolute; right:3%; top:1rem;}
.banner_molie b img {width:100%;} 
.banner_molie {display:block; overflow:hidden; clear:both; background:#555; margin-bottom:0;}
	 .focus{ width:100%;  margin:0 auto; position:relative; overflow:hidden;   }
	.focus .hd{ width:100%; height:20px;  position:absolute; z-index:1; bottom:5px; text-align:center;  }
	.focus .hd ul{ display:inline-block; height:20px;
		-webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; font-size:0; vertical-align:top;
	}
	.focus .hd ul li{ display:inline-block; width:10px; height:10px; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; border:1px solid #fff; margin:0 5px;  vertical-align:top; overflow:hidden;   }
	.focus .hd ul .on{ background:#fff; border:1px solid #fff;  }

	.focus .bd{ position:relative; z-index:0; }
	.focus .bd li img{ width:100%;  background:url(images/loading.gif) center center no-repeat;  }
	.focus .bd li a{ -webkit-tap-highlight-color:rgba(0, 0, 0, 0); /* 取消链接高亮 */  }
	

.index_fenlei .index_tit { display:block; width:120px; margin:0px auto 5%; text-align:center; background:url(../images/hei.png) left center repeat-x;}
.index_fenlei .index_tit span {display:inline-block; background:#fff; padding:0px 10px;}
.index_fenlei ul li {display:block; float:left; width:22%; margin-right:3%;}
.index_fenlei ul li img {width:100%;}

.index_jigou .index_tit { text-align:center; margin-bottom:5%;}
.index_jigou .index_tit b {margin:0px 3px; color: #f26300;}
.index_jigou .index_tit img {vertical-align:middle; display:inline; height:1rem;}
.index_jigou ul li { display:block; width:33%; padding:0px 1%; float:left; text-align:center; overflow:hidden;}
.index_jigou ul li a {display:block;}
.index_jigou ul li img {     width: 70%;
    border: 1px solid #ddd;
    border-radius: 100px;
    padding: 5px; }
.index_jigou ul h3 {display:block; overflow:hidden; line-height:2rem; height:2rem;}
.index_jigou ul p {color:#666;}

.img_box {width:46%; margin-right:4%; float:left; position:relative; margin-bottom:4%;}
.img_box .love,.img_box .love_yes {position:absolute; display:block; width:28%; z-index:4; right:0; top:0; padding:8px 5px; text-align:center; }
.img_box .love img,.img_box .love_yes img {width:60%;}
.img_box .love i {display:none;}
.img_box .love_yes i {display:block;}
.img_box .love_yes em {display:none;}
.img_box .number {position:absolute; left:8px; top:5px; z-index:4; color:#fff;}
.img_box .img img { width:100%; margin-bottom:4%;}
.img_box .ft34 { margin-bottom:3%; height:2.5em;  display:block; overflow:hidden;}
.img_box .ft26  {height:1em;  display:block; overflow:hidden; color:#666;}
.img_box .money {margin-bottom:0.5em;}


.img_box2 {width:92%; margin:4% 4% 0; position:relative; background:#fff;border-bottom:1px solid #f1d9d2;}
.img_box2 .love,.img_box2 .love_yes {position:absolute; width:12%; right:0; top:0; padding:5px; text-align:center; }
.img_box2 .love img,.img_box .love_yes img {width:75%;}
.img_box2 .love i {display:none;}
.img_box2 .love_yes i {display:block;}
.img_box2 .love_yes em {display:none;}
.img_box2 .img img { width:100%;}
.img_box2 .info {border-left:1px solid #f1d9d2;border-right:1px solid #f1d9d2; padding:2% 4% 4%;}
.img_box2 .ft34 { margin-bottom:3%;  display:block; overflow:hidden;}
.img_box2 .ft26 { display:block;  color:#666;}
.img_box2 .time {position:absolute; width:4.5em; display:inline-block;  text-align:center; right:10px; top:10px; background:#fff;}
.img_box2 .time b {display:block;line-height:1.6rem; color:#fff; background:#0c3;}
.img_box2 .time span {display:block;color:#0c3;line-height:1.6rem; }
.img_box2 .time.weikai b{ background:#999; }
.img_box2 .time.weikai span {color:#999;}

.money {font-size:1rem; height:1rem; display:block; white-space: nowrap; text-overflow: ellipsis; color:#c1713e;}
.money i {font-style:normal; font-size:0.7rem;}
.money2 {font-size:1.5rem; color:#c1713e;}
.money2 i {font-style:normal; font-size:1rem;}
.money3 {font-size:1.5rem; color:#444;}
.money3 i {font-style:normal; font-size:1rem;}

@media all and (max-width:340px){
.money {font-size:0.9rem; color:#c1713e;}
.money i {font-style:normal; font-size:0.7rem;}
.money2 {font-size:1.4rem; color:#c1713e;}
.money2 i {font-style:normal; font-size:1rem;}
.money3 {font-size:1.4rem; color:#444;}
.money3 i {font-style:normal; font-size:1rem;}
}

.xiangxi .img {position:relative; }
.xiangxi .img img {width:100%;}
.xiangxi .img b  { position:absolute; display:block; bottom:1.8em; right:1em; width:10%;}
.xiangxi .time {height:2rem; width:100%; background:#0C3; color:#fff; padding:0px 4%;}
.xiangxi .time  span { line-height:2rem;}
.xiangxi .time.weikai  { background:#666;}
.xiangxi img {position:relative;}
.xiangxi .info {padding:2% 4% 4%; background:#fff;}
.xiangxi .info h1 { width:100%; line-height:1.3em; margin:1% 0 2%;}
.xiangxi .info .love,.xiangxi .info .love_yes {position:absolute; width:14%; right:0; top:0; padding:4% 10px; text-align:center; }
.xiangxi.pai .info .love,.xiangxi.pai .info  .love_yes {top:1.8em; width:14%;}
.xiangxi.pai .info .love img,.xiangxi.pai .info  .love_yes img {width:100%;}
.xiangxi .info .love img,.xiangxi .info .love_yes img {width:80%;}
.xiangxi .info  .love i {display:none;}
.xiangxi .info  .love_yes i {display:block;}
.xiangxi .info  .love_yes em {display:none;}
.xiangxi .xx_jigou {padding:3% 4%; margin-bottom:4%; border-top:1px solid #f1d9d2;border-bottom:1px solid #f1d9d2;  background:#fff; }
.xiangxi .xx_jigou img {float:left; width:10%; margin-right:0.7em;}
.xiangxi .xx_jigou .fl {width:64%; overflow:hidden; height:1; line-height:2rem;}
.xiangxi .xx_jigou .a_guanzhu { display:block; float:right; line-height:2rem; width:22% ; text-align:center; border:1px solid #f1d9d2; border-radius:2px; color:#444;}
.xiangxi .xx_jigou .a_guanzhu.ygz {color:#666;}
.xiangxi .jieshao .tit2 {margin-bottom:2%; padding-bottom:4%;border-bottom:1px solid #f1d9d2;}
.xiangxi .jieshao_text,
.xiangxi .jieshao_text2 {border-bottom:1px solid #f1d9d2;border-top:1px solid #f1d9d2;  background:#fff;  margin-bottom:4%;}
.xiangxi .jieshao_text p,
.xiangxi .jieshao_text2 p {display:block; position:relative; line-height:1.5em; border-bottom:1px solid #f1d9d2; padding:0.5em 2% 0.5em 0; margin-left:4%;}
.xiangxi .jieshao_text .sp_1,
.xiangxi .jieshao_text2 .sp_1 { width:5em;position:absolute; color:#777;}
.xiangxi .jieshao_text .sp_2,
.xiangxi .jieshao_text2 .sp_2 { padding-left:4.5em; display:block;}
.xiangxi .jieshao_text a,
.xiangxi .jieshao_text2 a{ display:block; background:url(../images/jiantou4.png) no-repeat right center #fff; background-size:6%;} 
 

/*机构*/
.seach {background:#fff; padding:4% 4% 0;}
.seach p {display:block; padding:1px; }
.seach p a {display:block;height:2.2rem; line-height:2.2rem; border-radius:30px; background:url(../images/icon_sousuo_03.png)  no-repeat 10px center #efefef;background-size:6% ; color:#888; width:100%;padding-left:2.5em; border:1px solid #eee; }
.jigou .tab_tit {border-bottom:3px solid #eee; border-top:0;}
.jigou .jigou_list {background:#eee;}

.jigou .xx_jigou {padding:3% 4%; border-bottom:1px solid #f1d9d2;  background:#fff; }
.jigou .xx_jigou img {float:left; width:17%; margin-right:4%;}
.jigou .xx_jigou .info {width:56%; float:left; line-height:2rem; color:#666;}
.jigou .xx_jigou .ft34 { margin:1% 0 ; color:#111;}
.jigou .xx_jigou .ft26 {margin-top:3%;}
.jigou .xx_jigou .a_guanzhu { display:block; float:right; line-height:1.8rem; width: 4em; text-align:center; border:1px solid #f1d9d2; border-radius:2px; color:#444; margin-top:4%;}
.jigou .xx_jigou .a_guanzhu.ygz {color:#666;}
.jigou .main{min-height:500px;}
.tabBox {background:#fff;}
.tab_tit {border-top:1px solid #f1d9d2;}
.tab_tit li {display:block; float:left; width:50%;}
.tab_tit li a {display:block; text-align:center; color:#444; padding:4% 0; width:40%; margin:0px auto;}
.tab_tit li.on a {border-bottom:3px solid #bd6526; color:#ba601f;}

/*机构搜索*/
.seach .txt {display:block;height:2.2rem; font-size:1rem; border-radius:30px; background:url(../images/icon_sousuo_03.png)  no-repeat 10px center #efefef;background-size:6% ;width:100%; padding-left:2.2em; border:1px solid #eee; margin-bottom:4%; float:left; font-size:1rem; }
.seach .btn {width:20%; float:right; margin-bottom:4%; height:2.2rem; border:1px solid #ea552d; background:#ea552d; color:#fff;  border-radius:100px; font-size:1rem;}
.seach_tit {margin:3% 0px 3% 4%;}
.seach_hot { background:#fff; padding:4% 0 0 4%;}
.seach_hot  a {display:inline-block; padding:0px 10px; margin-right:4%; margin-bottom:4%; border:1px solid #ddd; text-align:center; line-height:2.2rem; color:#444; border-radius:77px;}
.seach_list {  margin-top:4%; }
.seach_list li,.seach_lishi li {padding:0px 0px 0px 4%; background:#fff;}
.seach_list li a,.seach_lishi li a {display:block; line-height:3rem; background:url(../images/icon_jigou_03.png) no-repeat left center; background-size:6%; border-bottom:1px solid #ddd; padding-left:1.7em;}
.seach_lishi li a {background-image:url(../images/icon_lishi_03.png); color:#444;}
.seach_list.sl2 li a {background: none; padding-left: 0;}




/*分类*/
.fenlei .fenlei_box ul {padding:4% 0 0 4%; display:block; position:relative; background:#fff; border-bottom:1px solid #f1d9d2;}
.fenlei .fenlei_box ul li {width:30%; margin:0px 3% 3% 0; float:left; text-align:center;}
.fenlei .fenlei_box ul a {display:block; width:100%; line-height:2.4em; border:1px solid #ccc; border-radius:3px;}
.fenlei .fenlei_box span { display:block; z-index:3; position:absolute; left:50%; top:-14px; margin-left:-10px; width:24px;}
.fenlei .fenlei_box span img {width:100%;}


.my .user {background:#2f2e34;  padding:2rem 0; text-align:center; color:#fff;}
.my .user img {display:block; width:5rem; border-radius:500px; margin:0 auto 3%; border:2px solid #fff;}
.my .my_data { background:#fff; text-align:center; margin-bottom:4%; padding:3% 0 4%; border-bottom:1px solid #f1d9d2;}
.my .my_data p {display:block; float:left; width:33%;}
.my .my_data p b {display:block; color:#c06421; margin-bottom:2%;}

.my .nav_list { border-top:1px solid #f1d9d2;border-bottom:1px solid #f1d9d2; margin-bottom:4%;}
.my .nav_list li a{background:#fff;white-space:nowrap; padding:4% 8% 4% 3%; background:url(../images/jiantou4.png) no-repeat right center #fff; background-size:5%; }

.my .nav_list a {display:block;}
.my .nav_list img {height:1.5rem; padding-bottom:2px; vertical-align:middle; margin-right:0.8rem;}

.my .line { background:#fff; padding:0 0 0 3%; font-size:1px; height:1px; line-height:1px; }

.my .line p {display:block; height:1px; margin-left:2.3rem; line-height:1px; background:#f1d9d2;}

.tit {background:#fff; line-height:3rem;white-space:nowrap; font-size:1rem; padding:0px  8% 0 3%; background:url(../images/jiantou4.png) no-repeat right center #fff; background-size:5%; }



.title { padding:0px 50px; line-height:110px; height:110px; padding-top:10px;}
.title h1 {float:left;}
.title a {float:right; font-size:40px; color:#666; padding-right:40px; background:url(../images/jiantou.png) no-repeat right center;}
.title a:hover {color:#ff6600;}



/*空表页*/
.no_tishi {margin-top:30%; text-align:center; font-size:1rem; color:#666;}
.no_tishi img {width:7rem; display:block; margin:0px auto 1rem;}
.no_tishi a {display:block; height:3rem ; line-height:3rem; margin:1rem auto;  color:#fff; background:#f26200; text-align:center; width:40%; border-radius:5px; }

.bottom_btn { position:fixed; z-index:444; bottom:0; left:0; width:100%; height:3rem;}
.bottom_btn a {display:block; height:3rem; width:100%; color:#fff; background:#f26200; text-align:center; font-size:1.1rem; line-height:3rem;} 



/*登录*/
.login {position:relative;}
.login_cont {position:absolute; z-index:222; top:0; left:0; width:100%;}
.login img {width:40%; display:block; margin:8% auto 8% ;}
.login .biaodan { background:#fff; border-radius:10px; padding: 0 3% 3%; margin:0px 6%;}
.login .biaodan .txt{display:block; border:0; border-bottom:1px solid #f1d9d2; height:3.4rem;  font-size:1.2rem; padding-left:10%; width:100%; border-radius:1px;}
.login .biaodan .t1 {background:url(../images/icon_user.png) no-repeat center left;  background-size:7%;}
.login .biaodan .t2 {background:url(../images/icon_phone.png) no-repeat center left;  background-size:7%;}
.login .biaodan .t3 {background:url(../images/icon_yzm.png) no-repeat center left; background-size:7%;}
.login .biaodan .yzm_box {position:relative;}
.login .biaodan .btn_yzm { position:absolute; right:0; width:44%; top:0.4rem; height:2.6rem; border:0; font-size:1.1rem;text-align:center; background:#f26300; color:#fff;}
.login .biaodan .select_box { clear:both; height:3.4rem; width:100%; padding-left:10%; background:url(../images/icon_city.png) no-repeat center left; background-size:7%; border-bottom:1px solid #f1d9d2; margin-bottom:5%;}
.login .biaodan .select_box select { width:44%; background:url(../images/xiala.png) no-repeat right center ; background-size:12%; border-radius:1px; border:0; height:3.4rem; font-size:1.1rem; } 
select#city {width:44%; margin-right:8%;}
.login .btn_login {height:3rem; color:#fff; background:#f26300; font-size:1.1rem; border:0; width:100%; }


.about {padding: 4%; background: #fff; line-height: 1.7em;}
.about p{ margin-bottom: 1rem;}

.liuyan { padding:0 4% 4% 4%;}
.liuyan h3 { line-height: 2.6em; color: #333;}
.liuyan .txt { height: 2.6em; padding-left: 3%;width: 100%; background:#fff; border-radius: 5px; border:1px solid #ccc;  webkit-appearance: none;  }
.liuyan textarea {height: 7em; width:100%; padding:3% 3% 3% 3%; border-radius: 5px;  background:#fff; border:1px solid #ccc; margin-bottom:5%; webkit-appearance: none; }
.liuyan .btn { height:2.6em; background: #ea552d; width:100%; border-radius: 5px; border:0; color:#fff;}